In [1]:
import numpy as np

In [2]:
def random_list(size):
  list = []
  for i in range(size):
    list.append(np.random.randint(10,50))
  return list

def sum_random (list):
  sum = 0
  for i in range(len(list)):
    sum = sum + list[i]
  return sum

In [28]:
n = int(input("Enter some integer"))

Enter some integer5

In [30]:
if n <5 or n>15:
  print("Error: Invalid Integer");
if n >=5 and n <=15:
  print(n);

5

In [31]:
MyList = random_list(n)
MyList

[28, 37, 37, 27, 46]

In [32]:
MySum = sum_random(MyList)
MySum

175

In [33]:
MyList2 = np.random.randint(10, 50, n)
MyList2

array([37, 44, 49, 41, 24])

In [34]:
MySum2 = sum(MyList2)
MySum2

195